
header img {
    width: 40%;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(98, 98, 98);
}

header h1 {
    padding: 20px;
    font-size: 3em;
    font-weight: 500;
    justify-content: end;
    align-items: center;
}
header {
     border-top: 1px solid rgb(123, 123, 123);
    display: flex;
    font-size: 2em;
    font-weight: 500;
    justify-content: center;
    gap: 2em;
    padding: 20px;
    align-items: center;
    margin: auto;
}
h2 {
    font-weight: 500;
    margin: 10px;
    text-align: center;
}
.beskrivning {
    width: 60%;
    margin: auto;
    line-height: 22px;
    margin-top: 25px;
}
main {
     background-color: rgb(221, 231, 223);
     padding: 15px;
      border-bottom: 1px solid rgb(98, 120, 96);
     border-top: 1px solid rgb(98, 120, 96);
}
#citat {
    text-align: center;
    font-size: 30px;
    margin-top: 2em;
}
#facts {
    background-color: rgba(192, 122, 81, 0.551);
    width: 25%;
    padding: 20px;
    list-style: none;
    line-height: 25px;
    border-radius: 5px;
    border: 2px solid rgb(156, 91, 38);
    font-size: 16px;
}
#contact {
    background-color: rgba(192, 122, 81, 0.551);
    width: 25%;
    padding: 20px;
    list-style: none;
    line-height: 25px;
    border-radius: 5px;
    border: 2px solid rgb(156, 91, 38);
    font-size: 16px;
}
#info {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
#cont {
    text-align: center;
    font-size: 19px;
    width: 30%;
    padding: 4px;
    margin: auto;
    margin-bottom: 7px;
    border-radius: 2px;
}
