* {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
   background-color: rgb(218, 227, 218);
   border-top: 1px solid rgb(107, 107, 107);
}

header {
    align-items: center;
    border-top: 1px solid rgb(155, 174, 152);
}
header img {
    width: 100%;
}

h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
#erbjuder {
    margin: 20px;
}

#recensioner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2px;
}
#recensioner div {
    margin: 10px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}
#checkBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding: 1.3em;
}
#box1,
#box2,
#box3 {
    border: 2px solid black;
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(213, 183, 161);
}
#box2 ul,
#box3 ul {
    padding: 5px;
    margin: 10px;
    line-height: 2em;
    list-style: circle;
}
#medier {
    border-bottom: 1px solid black;
    margin: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}
#c,
#f {
    display: flex;
    align-items: center;
}
#medier img {
    width: 70px;
    margin: 10px;
}
#medier p {
    text-decoration: underline;
    color: blue;
}
#medier h4 {
    font-size: 20px;
    font-weight: 500;
}

form {
    background-color: rgb(255, 255, 255);
}
#helaForm {
    background-color: rgb(242, 246, 241);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
    align-items: center;
}
#helaForm legend {
    font-weight: bold;
}
#sida1 {
    border: none;
    display: flex;
    flex-direction: column;
    width: 300px;
}
#sida2 {
    border: none;
    display: flex;
    flex-direction: column;
}
#sub {
    width: 150px;
    padding: 6px;
    margin-top: 10px;
    background-color: rgb(225, 180, 148);
    border: 1px solid rgb(136, 73, 22);
}
#sub:hover {
    background-color: rgb(197, 134, 89);
    box-shadow: 1px 2px 3px black;
}
#message {
    height: 150px;
    width: 400px;
}