body {
   width: 100%;
   margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.A {
    background: radial-gradient(rgb(193, 245, 202), rgba(147, 176, 139, 0.965));
    border-radius: 15px;
    width: 10%;
}
.A.active {
    outline: 2px solid rgb(1, 1, 1);
     background: radial-gradient(rgb(243, 209, 176), rgba(147, 95, 66, 0.965));
     font-weight: 600;
}
.notA {
    width: 10%;
    background-color: #fffbf7;
}

#week {
    display: flex;
    flex-direction: row;
    background: radial-gradient(rgb(241, 218, 205), rgb(210, 167, 136));
    justify-content: center;
    border-top: 1px solid rgb(150, 98, 57);
    border-bottom: 1px solid rgb(150, 98, 57);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.forw {
    background-color: #f2e7db;
    height: 30px;
    width: 55px;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    border-radius: 8px;
}
.back {
    background-color: #f2e7db;
    height: 30px;
    width: 55px;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    border-radius: 8px;
}

table {
    margin: auto;
    width: 70%;
    background-color: #ece4d8;
    padding: 10px;
    border-left: 1px solid rgb(143, 96, 58);
    border-right: 1px solid rgb(143, 96, 58);
    border-bottom: 1px solid rgb(143, 96, 58);
   
}
th {
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgb(203, 162, 128);
}

tr {
    font-size: 14px;
    height: 75px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

#next {
    background-color: rgb(212, 212, 212);
    color: rgb(155, 154, 154);
    border: 1px solid rgb(156, 155, 155);
    font-size: 15px;
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
#next.klickbar {
    background: radial-gradient(rgb(241, 218, 205), rgb(210, 167, 136));
    color: black;
    box-shadow: 1px 2px 3px rgb(63, 41, 25);
    font-weight: bold;
    font-size: 18px;
     border: 1px solid rgb(136, 73, 22);
}

#tillbaka {
    background: radial-gradient(rgb(250, 243, 224), rgb(225, 199, 133));
    color: black;
    box-shadow: 1px 2px 3px rgb(158, 102, 63);
    font-size: 15px;
     border: 1px solid rgb(136, 73, 22);
    padding: 15px;
    width: 240px;
    border-radius: 5px;
    text-decoration: none;
}
.disabled-link {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}
.klickbar {
    pointer-events: auto;
    opacity: 1;
    cursor: pointer;
}

footer {
  background-color: rgb(201, 214, 198);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 13px;
  align-items: center;
  margin-top: 20px;
}
footer img {
    width: 70px;
}

#drop {
    background-color: rgb(245, 240, 226);
    padding: 8px;
    border: 1px solid black;
    margin: 5px;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#avbryt {
    margin-top: 20px;
    margin-left: 15px;
}
#avbryt a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: rgb(188, 85, 74);
    padding: 8px;
    border-radius: 3px;
    font-size: 14px;
}

#progressList {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.progress p {
  background-color: rgba(94, 123, 91, 0.941);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid black;
}
.comming p {
   width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid black;
}

