body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 2em;
}
h4 {
  text-align: center;
  font-weight: 400;
  font-size: 1.2em;
  font-style: italic;
}
h3 {
  font-size: 1.3em;
}
h5 {
  font-size: 1em;
  font-style: italic;
  margin-top: 0;
}
li {
  line-height: 1.7em;
}
#avbryt {
    margin-top: 20px;
    margin-left: 15px;
}
#avbryt a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: rgb(188, 85, 74);
        padding: 8px;
    border-radius: 3px;
    font-size: 14px;
}
i {
    color: rgb(149, 11, 11);
    margin: 20px;
}
header h1 {
    background-color: rgb(228, 231, 227);
    padding: 1em;
}
#Ellen {
    border: 1px solid rgb(136, 136, 136);
    margin: 20px;
    border-radius: 5px;
}
#behandlingar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 5px;
}
#vera {
    border: 1px solid rgb(136, 136, 136);
    margin: 20px;
    border-radius: 5px;
}
#sanna {
    border: 1px solid rgb(136, 136, 136);
    margin: 20px;
    border-radius: 5px;
    height: 800px;
}
#sextio {
    display: flex;
    flex-direction: row;
 
}
#fyrtio {
    display: flex;
    flex-direction: row;
}
#helkropp {
  padding: 20px;
  background-color: rgb(234, 241, 236);
  align-items: center;
  margin-bottom: 30px;
}
#helkropp ul li {
  width: 100%;
  list-style: none;
}
#helkropp img {
  width: 200px;
}

label {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 3px;
    display: inline-block;
    width: 260px;
}

#nacke {
  padding: 20px;
  background-color: rgb(234, 241, 236);
  align-items: center;
  margin-bottom: 20px;
}
#nacke ul li {
  width: 100%;
  list-style: none;
}
#nacke img {
  width: 200px;
}

#lash {
    display: flex;
    flex-direction: row;
 
}
#brow {
    display: flex;
    flex-direction: row;
}


#mask {
  padding: 20px;
  background-color: rgb(242, 243, 232);
  align-items: center;
  margin-bottom: 30px;
}
#mask ul li {
  width: 100%;
  list-style: none;
}
#mask img {
  width: 200px;
}

#skinbooster {
  padding: 20px;
  background-color: rgb(242, 243, 232);
  align-items: center;
   margin-bottom: 20px;
}
#skinbooster ul li {
  width: 100%;
  list-style: none;
}
#skinbooster img {
  width: 200px;
}

#lashlift {
  padding: 20px;
  background-color: rgb(248, 239, 243);
  align-items: center;
}
#lashlift ul li {
  width: 100%;
  list-style: none;
}
.j {
  display: flex;
  font-size: 14px;
  gap: 23px;
  font-style: italic;
}

.j img {
  width: 160px;
  height: 160px;
}

#submitBtn.active {
    background-color: rgb(225, 180, 148);
    border: 1px solid rgb(136, 73, 22);
    padding: 10px;
    margin: 20px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(1, 2, 1);
    box-shadow: 1px 2px 3px rgb(63, 41, 25);
    font-weight: bold;
    font-size: 20px;
    background: radial-gradient(rgb(241, 218, 205), rgb(210, 167, 136));
}

#submitBtn {
     background-color: rgb(207, 206, 206);
    padding: 10px;
    margin: 20px 20px;
    border: 1px solid rgb(190, 191, 190);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(132, 132, 132);
    display: flex;
    width: 160px;
    justify-content: center;
}
#submitBtn.active:hover {
  background: radial-gradient(rgb(218, 181, 159), rgb(170, 114, 74));
    box-shadow: 1px 2px 3px black;
}
#subBtn {
  display: flex;
  justify-content: center;
  margin: auto;
}
input[type="radio"]:checked {
    accent-color: black;
}

#progressList {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.progress p {
  background-color: rgba(94, 123, 91, 0.941);
  width: 35px;
  height: 35px;
  border-radius: 40px;
  border: 2px solid black;
}
.comming p {
   width: 35px;
  height: 35px;
  border-radius: 40px;
  border: 2px solid black;
}