body {
    width: 100%;
    margin: 0;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 0.5fr;
    grid-template-areas: 
    "summary fieldset"
    "tillbaka fieldset";
    width: 1000px;
    margin: auto;
}

#summary {
    grid-area: summary;
    background-color: rgb(225, 236, 225);
    width: 400px;
    margin-bottom: 6em;
    padding: 1.3em;
    border: 1px solid rgb(153, 153, 153);
}
#summary p {
    font-size: 18px;
}
#summary h2 {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2em;
   border-radius: 5px;
   font-size: 25px;
   font-weight: 100;
}
fieldset {
    display: flex;
    flex-direction: column;
     width: 350px;
     grid-area: fieldset;
     background-color: rgb(245, 232, 217);
     
}

input {
    margin-bottom: 15px;
}
#message {
    height: 150px;
}
textarea {
    margin-bottom: 30px;
}
legend {
    font-size: 23px;
    margin-bottom: 15px;
}
#avbryt {
    margin-top: 20px;
    margin-left: 15px;
}
#avbryt a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: rgb(188, 85, 74);
        padding: 8px;
    border-radius: 3px;
    font-size: 14px;
}

#sendBtn {
    width: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    border-radius: 7px; 
}
.inactive {
    background-color: rgb(225, 225, 225);
    cursor: not-allowed;
    opacity: 0.5;
     border: 1px solid gray;
     color: gray;
}
.active {
     background: radial-gradient(rgb(221, 246, 219), rgb(134, 168, 132));
     box-shadow: 1px 2px 3px 2px rgb(67, 86, 67);
    font-size: 16px;
    font-weight: bold;
     border: 1px solid rgb(73, 98, 70);
     cursor: pointer;
}
.active:hover {
    background-color: aqua;
}
p b {
    font-weight: 600;
}
#tillbaka {
    background: radial-gradient(rgb(253, 252, 247), rgb(238, 217, 164));
    color: black;
    box-shadow: 1px 2px 3px rgb(194, 171, 154);
    font-size: 16px;
     border: 1px solid rgb(201, 152, 112);
    padding: 15px;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    text-decoration: none;
    grid-area: tillbaka;
}

#progressList {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.progress p {
  background-color: rgba(94, 123, 91, 0.941);
  width: 35px;
  height: 35px;
  border-radius: 40px;
  border: 2px solid black;
}
.comming p {
   width: 35px;
  height: 35px;
  border-radius: 40px;
  border: 2px solid black;
}

footer {
    background-color: rgb(201, 214, 198);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 13px;
    align-items: center;
    margin-top: 20px;
}

footer img {
    width: 70px;
}